/* --------------------------------------reset styles-------------------------------------- */

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --------------------------------------fonts---------------------------------------- */

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto/roboto-v30-cyrillic-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto/roboto-v30-cyrillic-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto/roboto-v30-cyrillic-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*---------------------------*/

body {
  height: 100%;
  line-height: 1;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

a {
  color: inherit;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: url(./assets/icons/bgc.svg), lightgray 0% 0% / 50px 50px repeat;
}

.section {
  padding: 200px 0px 0px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 312px;
}

.button {
  display: block;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
}

.button:hover,
.button:focus,
.button:active {
  opacity: 0.8;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
}

.block__title {
  position: relative;
  right: 20px;
  align-items: center;
  display: flex;
  gap: 20px;
}

.title__icon {
}

.title__icon img {
  max-width: 100%;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.count {
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
}

/* ------------------------------------------------------------ */

.header {
  position: absolute;
  width: 100%;
  padding: 40px 0px;
  left: 0;
  top: 0;
  z-index: 5;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 270px;
  padding: 0px 80px;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.header__logo {
}
.logo {
}
.header__menu {
}
.menu {
}

.menu__list {
  display: flex;
  gap: 56px;
}

.menu__item {
}

.menu__link {
  transition: 0.3s;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  opacity: 0.8;
}

.header__button {
  font-weight: 400;
  background: var(--grad-2, linear-gradient(142deg, #c89afc 0%, #7c6afa 100%));
}

/* ------------------------------------------------------------ */

.main {
  flex: 1 1 auto;
}

.main-screen {
  position: relative;
}

.main-screen__block {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.main-screen__container {
}

.main-screen__content {
  display: flex;
  flex-direction: column;
  padding: 270px 0px 348px;
  user-select: none;
}

.main-screen__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
  z-index: 3;
}

.main-screen__title {
  max-width: 920px;
  font-size: 64px;
}

.timer {
}

.timer__items {
  display: flex;
  gap: 30px;
}

.timer__item {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  background: #121212;
}

.timer__count {
}

.timer__text {
  line-height: 140%;
  opacity: 0.4000000059604645;
}

.timer__days {
}
.timer__hours {
}
.timer__minutes {
}
.timer__seconds {
}

.main-screen__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}

/* ------------------------------------------------------------ */

.courses {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.courses__container {
  width: 100%;
  padding: 31.5px 312px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 81px;
  background: #121212;
}

.courses__button {
}

.courses__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.courses__text-block {
  display: flex;
  gap: 30px;
}

.courses__info .courses__text-block {
  justify-content: space-between;
}

.courses__text {
  line-height: 150%;
  opacity: 0.4000000059604645;
}

.courses__text-block .text_bold {
  font-weight: 700;
}

.courses__progressbar {
  flex: 1 0 auto;
}

.progressbar {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.progressbar__body {
  height: 6px;
  background: #ffffff;
}

.progressbar__line {
  background: var(--grad-1, linear-gradient(141deg, #df5950 0%, #451046 100%));
  height: 100%;
  width: 62%;
}

.courses__text-block_space-between {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  opacity: 0.4;
}

/* ------------------------------------------------------ */

.about {
}
.about__container {
}

.about__content {
  display: flex;
  justify-content: space-between;
  gap: 139px;
}

.about__image {
}

.about__image img {
  max-width: 100%;
}

.about__info {
  max-width: 635px;
  padding: 69px 0px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.about__title {
}
.about__text {
}

/* ------------------------------------------------------ */

.start {
  padding: 205px 0px 0px;
}
.start__container {
}

.start__info {
  padding: 20px 0px 0px;
}

.start__text {
  max-width: 411px;
  opacity: 0.5;
  padding: 0px 0px 80px;
}

.start__infographic {
}

.infographic {
  display: flex;
  width: 100%;
}

.infographic__item {
  width: 25%;
}

.infographic__count {
  padding: 0px 0px 20px;
}

.infographic__diagramma {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.diagramma__count {
  width: 100%;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.diagramma__count_100 {
  height: 100%;
}

.diagramma__count_75 {
  height: 60px;
}

.diagramma__count_50 {
  height: 30px;
}

.diagramma__count_total {
  height: 10px;
}

.infographic__text {
  padding: 35px 0px 0px;
  max-width: 306px;
  font-size: 14px;
  opacity: 0.5;
}

/* ------------------------------------------------------ */

.advantages {
}

.advantages__container {
}
.advantages__title {
  text-align: center;
}
.advantages__info {
  display: flex;
  justify-content: center;
  gap: 82px;
  padding: 120px 0px 0px;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages__icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages__icon img {
  width: 100px;
}

.advantages-info__title {
  padding: 60px 0px 30px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
.advantages__text {
  width: 100%;
  display: flex;
  justify-content: center;
}

.advantages__text .text {
  max-width: 358px;
  opacity: 0.800000011920929;
  text-align: center;
}

/* ------------------------------------------------------ */

.partners {
}
.partners__container {
}
.partners__icon {
  transform: rotate(180deg);
}

.partners__logos {
  padding: 60px 0px 153px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
}

.logos__item {
  padding: 28.5px 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------ */

.program {
}
.program__container {
}

.program-block__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  margin: 0px 0px 30px;
}

.program__icon {
}

.program__text {
  text-align: center;
  opacity: 0.5;
  margin: 0px 0px 90px;
}

.program__info {
  display: flex;
  justify-content: center;
  padding: 0px 0px 193px;
}

.program__timeline {
}

.line {
  margin: 0px 60px;
  width: 6px;
  height: 677px;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.program__weeks {
  display: flex;
  flex-direction: column;
  gap: 87px;
}

.program__week {
  max-width: 228px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.program-week_left .program__week {
  text-align: end;
  justify-content: flex-end;
  align-items: end;
}

.program-week_right .program__week:first-child {
  padding: 95px 0px 0px;
}

.program-week__title {
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
}
.program-week__text {
}
.program-week__line {
}

/* ------------------------------------------------------ */

.teachers {
}
.teachers__container {
}
.block__title {
}

.teachers__icon {
  transform: rotate(-45deg);
}

.teachers__list {
  padding: 83px 100px 0px;
  display: flex;
  justify-content: space-between;
}

.teachers__item {
}

.teacher {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.teacher__image {
  margin: 0px 0px 40px;
}

.teacher__title {
  margin: 0px 0px 15px;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}

.teacher__speciality {
  margin: 0px 0px 30px;
  opacity: 0.800000011920929;
}

.teacher__button {
  display: block;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s;
}

.teacher__button:hover,
.teacher__button:focus,
.teacher__button:active {
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

/* ------------------------------------------------------ */

.footer {
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer__title {
  margin: 0px 0px 30px;
}

.footer__text {
  opacity: 0.5;
  margin: 0px 0px 60px;
}

.footer__form {
  display: flex;
  justify-content: center;
  margin: 0px 0px 40px;
}

.form__input {
  position: relative;
  left: 12px;
  width: 353px;
  padding: 11px 30px;
  border-radius: 50px 0px 0px 50px;
  background: rgba(255, 255, 255, 0.25);
}

input::-moz-placeholder {
  color: #ffffff;
  opacity: 0.8;
}

input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.8;
}

.form__submit {
  position: relative;
  right: 12px;
}

.form__submit:hover,
.form__submit:focus,
.form__submit:active {
  opacity: 1;
}

.footer__social {
  margin: 0px 0px 50px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
}

.social__logo {
  width: 24px;
  height: 24px;
}

.social__logo img {
  width: 100%;
}

.footer__templates {
  opacity: 0.800000011920929;
  margin: 0px 0px 30px;
}
